<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ==================== REPOSITORIOS ==================== -->
    <bean id="artistRepository" class="com.example.repository.impl.ArtistRepositoryImpl"
          init-method="init" destroy-method="destroy"/>
          
    <bean id="trackRepository" class="com.example.repository.impl.TrackRepositoryImpl"
          init-method="init" destroy-method="destroy"/>

    <!-- ==================== SERVICIOS ==================== -->
    <bean id="artistService" class="com.example.services.impl.ArtistServiceImpl">
        <constructor-arg ref="artistRepository"/>
    </bean>

    <bean id="trackService" class="com.example.services.impl.TrackServiceImpl">
        <constructor-arg ref="trackRepository"/>
        <constructor-arg ref="artistRepository"/>
    </bean>

    <!-- ==================== INICIALIZACIÓN DE DATOS (10 Artistas, 50 Tracks) ==================== -->
    <bean id="dataInitializer" class="com.example.util.DataInitializer"
          init-method="init">
        <property name="artistRepository" ref="artistRepository"/>
        <property name="trackRepository" ref="trackRepository"/>
    </bean>

</beans>